$primary: #af6ee8; // #8e44ad
$secondary: #5596e6;
$info: $secondary;
$gray: #888888;
$dark_grey: #363636;
$green: #3AA273;

$tag_green: #287150;
$tag_yellow: #b29a3c;

$mark_green: #126f7a;
$mark_blue: #485BE5;
// $mark_yellow: #E9B11C;
$mark_pink: #ff207a;